label {
  display: block;
  margin: 10px 0;
  padding: 10px 0;
  border-radius: 5px;
  background-color: white;
}

mat-radio-group {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

mat-radio-button {
  margin-left: 10px;
}

mat-form-field {
  width: 100%;
}

.answer-container {
  margin-top: 40px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #3f51b5;
  border-radius: 5px;
  background-color: white;
}
