label {
  display: block;
  margin: 10px 0;
  padding: 10px 0;
  border-radius: 5px;
  background-color: white;
}

mat-radio-group {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

mat-radio-button {
  margin-left: 10px;
}
