mat-card {
  display: inline-block;
}

.form-footer {
  text-align: center;
}

.form-container {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.row {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
}

.error {
  color: red;
}
