<div class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login first before accessing admin dashboard</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form #loginForm="ngForm">
        <div class="row">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" name="username" [(ngModel)]="username" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
          </mat-form-field>
        </div>
      </form>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="loginForm.form.invalid">Login</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
