<header>
  <h1>Survey dashboard</h1>

  <button mat-raised-button color="basic" (click)="logout()"><mat-icon>exit_to_app</mat-icon> Logout</button>
</header>
<form (ngSubmit)="createForm()" #newFormForm="ngForm">
  <mat-form-field *ngSwitchCase="'text'">
    <input matInput [formControlName]="title" name="title" placeholder="Enter title for new form..."/>
    <mat-error *ngIf="newFormForm.invalid">
      Please enter some text
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit"
          [disabled]="newFormForm.form.invalid" >Submit new</button>
</form>
<div class="form-list">
  <h3>All added questions:</h3>
  <app-question-list></app-question-list>
</div>

