<header>
  <h1>Please complete the survey below</h1>
</header>
<div class="container">
  <form (ngSubmit)="onSubmit()" *ngIf="form" [formGroup]="form">

    <div *ngFor="let question of questions" class="form-row question-card">
      <app-question [question]="question" [form]="form"></app-question>
    </div>

    <div class="form-row">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit your answer</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
