<header>
  <h1>Survey | <a (click)="navigateToStats()">Survey statistics</a></h1>
</header>
<div class="container">
  <form (ngSubmit)="onSubmit()" *ngIf="form" [formGroup]="form">

    <div *ngFor="let question of questions" class="form-row question-card">
      <app-question [question]="question" [form]="form"></app-question>
    </div>

    <div class="form-row">
      <button mat-raised-button color="primary" type="submit"
              (click)="buttonOnClick()" [disabled]="!form.valid || isSubmitted">Submit your answer</button>
    </div>
  </form>
</div>
