mat-icon {
  color: lightgrey;
  padding: 5px;
  border-radius: 50%;
  vertical-align: sub;
  transition: background-color 0.25s, color 0.25s;
}

mat-icon:hover {
  color: black;
  background-color: #aeaeae;
}

a {
  cursor: pointer;
}
